$rcpBlue: #015fc1;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

//nav section
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: $rcpBlue;
  color: white;

  .nav-divider {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }

  .dropdown-list,
  .nav-dropdown {
    display: none;
  }

  .about-dropdown:hover {
    font-size: 0;
    background-color: green;

    .dropdown-list {
      display: block;
    }

    .nav-dropdown {
      display: flex;
      flex-direction: row;
    }
  }

  .reserveLogo {
    margin-top: 5%;
    height: 4rem;
    background-color: white;
    border-radius: 0.1rem;
  }

  h1 {
    height: 100%;
    font-size: 3rem;
    margin: 1rem;
    background-color: inherit;
  }

  ul {
    visibility: hidden;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
  }

  li {
    margin: 2rem 0 2rem 0;
    margin-left: 1rem;
    margin-right: 3rem;
    font-size: 1.7rem;
    background-color: inherit;

    cursor: pointer;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  li:hover {
    scale: 1.1;

    transition: 0.3s;
    border-radius: 0.2rem;
    height: stretch;
    color: lightblue;
  }
}

//hamburger section

.hamburger {
  background: none;
  border: none;
  position: absolute;
  top: 2rem;
  right: 2rem;

  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  margin-bottom: 0.4rem;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:active {
  scale: 1.2;
}
.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: white;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

//about section
.differenceContainer {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 2rem auto 2rem auto;
  }
  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  p {
    width: 90%;
    margin: auto;
  }
  .valuesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    list-style: none;
  }
}

@media screen and (min-width: 800px) {
  .hamburger {
    visibility: hidden;
  }
}
@media screen and (min-width: 800px) {
  nav {
    .reserveLogo {
      margin-top: 2.5%;
    }
    ul {
      li {
        visibility: visible;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 0.8rem;
      }
    }
  }

  .differenceContainer {
    width: 80%;
    margin: auto;
    h3 {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
}
